*{
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
    
}
h1{
    font-family: "Playpen Sans Arabic",sans-serif;

}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
img{
   max-width:100%;
    height:auto;
    min-width: 150px;
    
}

.images{
    width:150px;
}
.container{
    margin:0 auto;
    max-width: 1100px;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8860B;
    border-bottom:5px solid black;
  
    
}

.nav-list{
    display:flex;
    
   
    
}
.nav-list ul{
    flex-basis: auto;
}
.nav-list ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
    background-color: orange;
    box-shadow: 5px 5px black;
}
.nav-list  ul a {
    text-decoration: none;
    color:black;
    
}
.nav-list a:hover{
    color:white;
    border-bottom: 5px solid black;
}
.nav-list li:active{


text-decoration: none;
background-color: white;
box-shadow: 0px 0px;

}
.nav-list a:active{
    color:black;
    border-bottom: 0px solid black;
}

.personal-info h2{
    text-align: center;
}
.personal-info{
    min-height:50vh;
    background-image: url("./1578423042314-Disco-Elysium.webp");
    background-size: cover;
    background-position: center;
    color:#ADFF2F;
    display:flex;
    justify-content: space-around;
}

.text-inside-personal{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.image-inside-personal{
    margin:auto 0 ;
}

