*{
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
    
}
h1{
    font-family: "Playpen Sans Arabic",sans-serif;

}
h2{
    font-family:"Press Start 2P", 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family:"Press Start 2P", 'Arial Narrow', Arial, sans-serif;
    line-height:2.5;
}
img{
   max-width:100%;
    height:auto;
    
    
    
    
}
.images{
    flex-basis: 250px;
    min-width: 150px;
}

.container{
    margin:0 auto;
    max-width: 1100px;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8860B;
    border-bottom:5px solid black;
  
    
}

.nav-list{
    display:flex;
    flex-basis:550px;
    
   
    
}
.nav-list ul{
    flex-basis: auto;
}
.nav-list ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
    background-color: orange;
    box-shadow: 5px 5px black;
}
.nav-list  ul a {
    text-decoration: none;
    color:black;
    
}
.nav-list a:hover{
    color:white;
    border-bottom: 5px solid black;
}
.nav-list li:active{


text-decoration: none;
background-color: white;
box-shadow: 0px 0px;

}
.nav-list a:active{
    color:black;
    border-bottom: 0px solid black;
}

.personal-info h2{
    text-align: center;
}
.personal-info{
    min-height:50vh;
    background-image: url("./1578423042314-Disco-Elysium.webp");
    background-size: cover;
    background-position: center;
   color:white;
    display:flex;
    justify-content: center;
    border-bottom:5px solid black;
    
    
   
}

.text-inside-personal{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}
.text-inside-personal h2{
margin-bottom:20px;
}
.image-inside-personal{
flex-basis: 150px;
flex-grow:1;
flex-shrink: 0;

}

.felds_of_interest h2{
text-align: center;
}

.felds_of_interest{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  grid-template-rows: 300px;
   background-image: url("./Thought\ cabinent.webp");
   background-size: cover;
   background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
   border-bottom: black solid 10px;
}


.grid{
    background-color:#B8860B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: 10px solid black;
    
   
}
.image{
    width:250px;
}
@media only screen and (max-width:425px){
    .felds_of_interest{
        grid-template-columns: 1fr;
    }
}

#learned-title{
    text-align: center;
}
.languages-learned {
    min-height: 50vh;
    background-image: url("./computer_science_background.jpg");
    background-size: cover;
    background-position: center;
    color:white;
   
}
.languages-learned h2{
    margin-bottom: 100px;
}
.learned{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 10px;
    
   
    
   
}
.pic{
    
   width:100px;
   height:100px;
   background-color: gray;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius:30px;
   transition: transform 0.5s ease-out;
   

    
}
#my_name{
     font-family:"Press Start 2P", 'Arial Narrow', Arial, sans-serif;
     font-size:1rem;
}

footer{
    height:10vh;
    background-color: #B8860B;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
footer p{
    font-size:1rem;
    
}
.social_media {
    list-style-type: none;
    display:flex;
    gap:10px;
}
.pic:hover{
    background-color: gold;
    cursor:pointer;
    transform: translate(0px,-20px);
}