*{
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
    
}
h1{
    font-family: "Playpen Sans Arabic",sans-serif;

}
h2{
    font-family:"Press Start 2P", 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family:"Press Start 2P", 'Arial Narrow', Arial, sans-serif;
    line-height:2.5;
}
img{
   max-width:100%;
    height:auto;
    min-width: 150px;
    
    
    
}
.images{
    width: 150px;
}

.container{
    margin:0 auto;
    max-width: 1100px;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8860B;
    border-bottom:5px solid black;
  
    
}

.nav-list{
    display:flex;
    
   
    
}
.nav-list ul{
    flex-basis: auto;
}
.nav-list ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
    background-color: orange;
    box-shadow: 5px 5px black;
}
.nav-list  ul a {
    text-decoration: none;
    color:black;
    
}
.nav-list a:hover{
    color:white;
    border-bottom: 5px solid black;
}
.nav-list li:active{


text-decoration: none;
background-color: white;
box-shadow: 0px 0px;

}
.nav-list a:active{
    color:black;
    border-bottom: 0px solid black;
}

.personal-info h2{
    text-align: center;
}
.personal-info{
    min-height:50vh;
    background-image: url("./1578423042314-Disco-Elysium.webp");
    background-size: cover;
    background-position: center;
    color:#ADFF2F;
    display:flex;
    justify-content: center;
    border-bottom:5px solid black;
   
}

.text-inside-personal{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.text-inside-personal h2{
margin-bottom:20px;
}
.image-inside-personal{
    margin: auto 0;
}

.felds_of_interest h2{
text-align: center;
}

.felds_of_interest{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  grid-template-rows: 300px;
   background-image: url("./Thought\ cabinent.webp");
   background-size: cover;
   background-position: center;
   padding: 50px;
   border-bottom: black solid 10px;
}

.grid{
    background-color:#B8860B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 10px solid black;
    
   
}
.image{
    max-width: 300px;
}
@media only screen and (max-width:425px){
    .felds_of_interest{
        grid-template-columns: 1fr;
    }
}

#learned-title{
    text-align: center;
}
.languages-learned {
    min-height: 30vh;
    background-image: url("./cs.avif");
    background-size: cover;
    background-position: center;
    color:white;
   
}
.languages-learned h2{
    margin-bottom: 100px;
}
.learned{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
   
}
