*{
    box-sizing:border-box;
    margin: 0px;
    padding:0px;
}

img{
    max-width:100%;
    height:auto;
}


.images{
    max-width:150px;
   
    
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8860B
}
.nav-list{
    display:flex;
    list-style-type: none;
    gap:10px
}
.nav-list a {
    text-decoration: none;
}
.nav-list a::after{
    content:"|"
    
}

